<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="user" class="com.springs.factorycase.UserServiceimp">
        <property name="user" value="Wesley"/>
    </bean>
    <!--Bean实例化的三种方式-->
    <!--第一种：无参构造器-->
    <!--id 唯一的，有特殊字符用name,class用于设置一个类的全路径，生成类的实例-->
    <!--默认为单例模式，加了prototype后为多例模式，scop设置是否为单例和多例-->
    <bean id="bean1" class="com.spring.bean.cases.BeanDemo" >
        <property name="name" value="carserver"/>
    </bean>
</beans>